body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./christian-perner-UKLIuV8rAks-unsplash.jpg") no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  color: black;
}

.member-list {
  display: flex;
  flex-wrap: wrap;
}

.member {
  background: palevioletred;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 2px rgba(0, 0, 0, 0.24);
  padding: 10px;
  margin: 16px auto;
  color: rgb(44, 43, 43);
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
}